* {
  margin: 0%;
  padding: 0%;
}
.navbar {
  background-image: linear-gradient(15deg, #0f1010, #1f3947, #03a9f4, #0d0e0e);
}

/*Carlos, agregué font family bebas neue color blanco*/
.display-1 {
  font-family:'Bebas Neue', cursive; 
  color: white;

}
/*Carlos, agregué fondo celeste*/
.display-1{
  background-color: #13a1e2;
  margin-left: 15%;
  margin-right: 15%;
}

.nav-item {
  font-family: "Lato", sans-serif;
}
.text-center.p-3 {
  background-image: linear-gradient(15deg, #0f1010, #1f3947, #03a9f4, #0d0e0e);
}
 
/*Carlos, agrego fondo de pantalla*/

.fondo{
  background-image: url("fondos/estadio\ con\ publico\ por\ dentro.jpg.jpeg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.centro{
 width: 70%;
 margin-left: 15%;
}

/*Carlos, cree un botón de log*/

#boton{
  border-radius: 13px;
  border-color: white;
  color: white;
}